html {
    font-size: 16px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.controls {
    grid-column: 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 2fr;
}

#startbtn {
    grid-row: 1;
    justify-content: center;
}

#player1 {
    grid-row: 2;
}

#player2 {
    grid-row: 3;
}

#results {
    grid-row: 4;
}

.gameboard {
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 18rem;
    column-gap: 0px;
    row-gap: 0px;
}

div {
    height: 6rem;
    width: 6rem;
    border: 2px solid black;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}